* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat Regular";
  font-size: 14px;
}

html,
body {
  min-height: 100vh;
  color: $white;
}

body {
  padding: 30px 0;
  background: $almostBlack;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }

  &-aic {
    align-items: center;
  }

  &-jcc {
    justify-content: center;
  }
}

.input-form {
  background: unset;
  border: 2px solid $coralRed;
  color: $coralRed;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &:hover,
  &:focus {
    border-color: $white;
  }
}

.log-title {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "Montserrat Bold";
}

.link {
  font-size: 1rem;

  &:hover {
    color: $coralRed;
  }
}

.wrap7 {
  @include wrap(7);
}

.wrap8 {
  @include wrap(8);
}

.wrap9 {
  @include wrap(9);
}

.wrap10 {
  @include wrap(10);
}

.wrap11 {
  @include wrap(11);
}

.wrap12 {
  @include wrap(12);
}

@include under-tablet {
  .wrap-mobile8 {
    @include wrap-mobile(8);
  }
}

.section-error {
  display: flex;
  justify-content: center;
  background: darken($color: $coralRed, $amount: 30);
  color: $white;
  width: 100%;
  margin-top: 20px;

  p {
    padding: 10px 0;
  }
}
