.section-streams{
  width: 80%;

  @include tablet{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .stream{
    width: 100%;
    height: 150px;
    background: $coralRed;
    transition: 0.2s all ease;

    @include tablet{
      width: 30%;
      margin: 0 1%;
    }

    &:not(:last-child){
      margin-bottom: 10px;
    }

    &:hover{
      border-radius: 10px;
      background: $brown;
    }

    &__user{
      align-self: flex-end;
      margin-bottom: 10px;
    }
  }
}