.section-stream {
  width: 100%;
  height: calc( 56.25vw + 475px);
  max-height: 100vh;
  .video {
    width: 100%;
    height: 56.25vw;
    border: 2px solid $white;
    margin-bottom: 20px;
  }

  .chat{
    height: calc(100% - 56.25vw - 20px);
    width: 100%;
    border: 2px solid $coralRed;
    overflow: scroll;

    justify-content: flex-end;
    min-height: 500px;

    .button {
      @include button($coralRed, $white);
      padding: 5px 10px;
    }

    #messages{
      overflow: scroll;
    }

    .messagesend{
      border: none;
      font-family: "Montserrat Bold";
      padding: 5px 10px;
    }
  }
}
